{% extends 'MGNKDynDnsBundle::layout.html.twig' %}

{% block data %}

<h2> Enregistrement d'un nouveau Hôte </h2>
<p>L'enregistrement de {{ records.name}}.{{ records.zone }} a bien &eacute;t&eacute; prise en compte et sera pris en compte d&egrave;s que la verification de votre adresse email sera effectu&eacute;.</p>

<p>Un email vous a &eacute;t&eacute; envoy&eacute; et vous y trouverez les informations pour configurer les scripts.</p>

{% endblock %}
